/node_modules
/storage/*.key
/vendor
/Apps/.env
/Apps/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/Apps/public/theme
/Apps/public/adminlte
/Apps/theme
/Apps/vendor
/theme

/mysql/data/*
/mysql/data/laravel8